<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>

<div th:insert="fragments/head :: nav"></div>

<form method="post" th:action="@{/add}">
  <div class="row">
    <div class="col m6">
      <label for="animalName" class="form-label">Add an animal</label>
      <input th:value="${add.name}" id="animalName" class="form-control" placeholder="Animal name" name="name">
    </div>
<!--    <div class="col m6">-->
<!--      <label for="country" class="form-label">Country</label>-->
<!--      <input th:value="${editanimal.country.name}" id="country" class="form-control" placeholder="Country">-->

    </div>
  </div>

  <div class="row">
    <div class="col m12">
      <button id="submitbnt" type="submit" class="form-control btn btn-primary">Submit</button>
    </div>
  </div>
</form>
</body>
</html>

